* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

body {
    margin: 0;
    min-height: 100vh;
}

.app-header {
    text-align: center;
    background: #333;
}

.app-header h1 {
    color: #fff;
    margin: 0;
    padding: 10px 0px;
}

.main--container {
    margin: 0;
    padding-bottom: 50px;
}

.main--container ul {
    padding: 0;
}

.main--container li { 
    padding: 10px;
    list-style: none;
}

.task--content {
    display: flex;
    padding: 10px 5px 10px 0px;
    border: 1px solid #000;
    border-radius: 4px;
    align-items: center;
}

.task--content .task--body {
    margin: 0;
}

.task--create-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px 0px 15px 0px;
    display: flex;
    place-content: space-evenly;
}

.task--input {
    border: 0;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
}

.icon--task-check {
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.icon--task-send {
    align-self: center;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 8px;
    transition: all .5s;
    user-select: none;
}

.icon--task-send:active {
    background-color: #000;
}

.icon--task-send:hover {
    cursor: pointer;
}

.input--error {
    border: 1px solid rgb(209, 44, 44);
}

.input--error::placeholder {
    color: rgb(209, 44, 44);
}

input,
textarea,
button,
select,
span,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#task__list-empty {
    text-align: center;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}
#task__list-empty h1 {
    margin: 0;
}

#task__list-empty .material-icons {
    font-size: 50px;
}